<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
	  <div class="row">

	    <!-- main start -->
	    <!-- ================ -->
	    <div class="main col-12">

	      <!-- page-title start -->
	      <!-- ================ -->
	      <h1 class="page-title">Shopping Cart</h1>
	      <div class="separator-2"></div>
	      <!-- page-title end -->

	      <table class="table cart table-hover table-colored">
	        <thead>
	          <tr>
	            <th>Product</th>
	            <th>Price</th>
	            <th>Quantity</th>
	            <th>Remove</th>
	            <th class="amount">Total </th>
	          </tr>
	        </thead>
	        <% @items.each do |item| %>
	        <tbody>
	          <tr class="remove-data-<%=item.id%>">
	            <td class="product"><%= item.title %><small><%= item.description%></small></td>
	            <td class="price">$<%= item.price%></td>
	            <td class="quantity">
	              <div class="form-group">
	                <input type="text" class="form-control" value="1">
	              </div>
	            </td>
	            <td class="remove"><%= link_to 'Delete', cart_path(item.id), class: "btn btn-remove btn-sm btn-default", remote: true, method: :delete%></td>
	            <td class="amount">$<%= item.price%></td>
	          </tr>
	          <% end %>
	          <tr>
	           	<td class="total-quantity" colspan="4">Total price :</td>
	           	<td class="total-amount">$<%=@items.sum(:price)%></td>
	          </tr>

	         
	        </tbody>
	      </table>
	      <% if @items.sum(:price) != 0 %>
	      	<div class="text-right">
	      		<%= link_to "Checkout", orders_path, class: "btn btn-group btn-default", id: "checkout_button" %>
	      	</div>
	      <% end %>

	    </div>
	    <!-- main end -->

	  </div>
	</div>
</section>
<!-- main-container end -->