    <header class="header fixed fixed-desktop clearfix">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-auto hidden-md-down pl-3">
            <!-- header-first start -->
            <!-- ================ -->
            <div class="header-first clearfix">

              <!-- logo -->
              <div id="logo" class="logo">
                <a href="/"><img id="logo_img" src="../../assets/images/logo_light_blue.png" alt="The Project"></a>
              </div>

            </div>
            <!-- header-first end -->

          </div>
          <div class="col-lg-8 ml-auto">

            <!-- header-second start -->
            <!-- ================ -->
            <div class="header-second clearfix">

            <!-- main-navigation start -->
            <!-- classes: -->
            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
            <!-- ================ -->
            <div class="main-navigation main-navigation--mega-menu  animated">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="navbar-brand clearfix hidden-lg-up">

                  <!-- logo -->
                  <div id="logo-mobile" class="logo">
                    <a href="index.html"><img id="logo-img-mobile" src="../../assets/images/logo_light_blue.png" alt="The Project"></a>
                  </div>


                </div>

                <!-- header dropdown buttons -->
                <div class="header-dropdown-buttons hidden-lg-up p-0 ml-auto mr-3">
                  <div class="btn-group">
                    <% if user_signed_in? %>
                      <%= link_to cart_path(session[:cart_id]), class: "btn dropdown-toggle dropdown-toggle--no-caret", id: "header-drop-2" do %>
                        <i class="fa fa-shopping-basket"></i><span class="cart-count default-bg">
                          <% if user_signed_in? %>
                            <%= Cart.find(session[:cart_id]).items.count %>
                          <% else %>
                            0
                          <% end %>
                        </span>
                      <% end %>
                    <% else %>
                      <%= link_to new_user_session_path, class: "btn dropdown-toggle dropdown-toggle--no-caret", id: "header-drop-2" do %>
                        <i class="fa fa-shopping-basket"></i><span class="cart-count default-bg">
                          <% if user_signed_in? %>
                            <%= Cart.find(session[:cart_id]).items.count %>
                          <% else %>
                          0
                          <% end %>
                        </span>
                      <% end %>
                    <% end %>
                  </div>
                </div>



                <!-- header dropdown buttons end -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <!-- main-menu -->
                  <ul class="navbar-nav ml-xl-auto">

                    <li class="nav-item ">
                      <a href="/" class="nav-link" aria-haspopup="true" aria-expanded="false">Home</a>
                    </li>

                    <% if user_signed_in? %>

                      <li class="nav-item ">
                        <%= link_to "Profile", edit_user_registration_path, class: "nav-link"%>
                      </li>

                      <li class="nav-item ">
                        <%= link_to "Disconnect", destroy_user_session_path, method: :delete, class: "nav-link"%>
                      </li>

                    <% else %>

                      <li class="nav-item ">
                        <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
                      </li> 

                      <li class="nav-item ">
                        <%= link_to "Sign up", new_user_registration_path, class: "nav-link"%>
                      </li> 

                    <% end %>

                  </ul>
                  <!-- main-menu end -->
                </div>
              </nav>
            </div>
            <!-- main-navigation end -->
            </div>
            <!-- header-second end -->

          </div>
          <div class="col-auto hidden-md-down">
            <!-- header dropdown buttons -->
            <div class="header-dropdown-buttons">

              <div class="btn-group">
                <% if user_signed_in? %>
                  <%= link_to cart_path(session[:cart_id]), class: "btn dropdown-toggle dropdown-toggle--no-caret", id: "header-drop-2" do %>
                    <i class="fa fa-shopping-basket"></i>
                    <span class="cart-count default-bg">
                      <% if user_signed_in? %>
                        <%= Cart.find(session[:cart_id]).items.count %>
                      <% else %>
                      0
                      <% end %>
                    </span>
                  <% end %>
                <% else %>
                  <%= link_to new_user_session_path, class: "btn dropdown-toggle dropdown-toggle--no-caret", id: "header-drop-2" do %>
                    <i class="fa fa-shopping-basket"></i>
                    <span class="cart-count default-bg">
                      <% if user_signed_in? %>
                        <%= Cart.find(session[:cart_id]).items.count %>
                      <% else %>
                      0
                      <% end %>  
                    </span>
                  <% end %>
                <% end %>
              </div>
 
            </div>
            <!-- header dropdown buttons end -->
          </div>
        </div>
      </div>
    </header>